:root {
  --primary: #027cd8;
  --blue: #00b2e2;
  --secondary: rgb(255, 64, 129);
  --green: #3cae65;
  --red: #ff5722;
  --black: #000;
  --table-header-background-color: #eff1f1;
  --light-grey: #6d6d6e;
  --white: #fff;
}
